img {
    width: 100px;
    height: 100px;
}

.title {
    font-size: 30px;
    font-family: "Workbench", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
            "BLED" 0,
            "SCAN" 0;
}

.flexContainer {
    padding: 40px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid black;
}

.addUsers {
    background: #d7adad;
}

.categoryItem {

}

.mainCategory {
    display: flex;
    min-height: 300px;
}